<Настройки>
	<Предметы>
		<Предмет Название='Рисунок'
		                НеРазделятьПоДням='Да'
		                ОднаГруппаЗаСмену='Да'/>
		<Предмет Название='Живопись'
		                НеРазделятьПоДням='Да'
		                ОднаГруппаЗаСмену='Да'/>
		<Предмет Название='Композиция'
		                НеРазделятьПоДням='Нет'
		                ОднаГруппаЗаСмену='Да'/>
		<Предмет Название='Скульптура'
		                НеРазделятьПоДням='Нет'
		                ОднаГруппаЗаСмену='Нет'/>
		<Предмет Название='Беседы об искусстве'
		                НеРазделятьПоДням='Нет'
		                ОднаГруппаЗаСмену='Нет'/>
		<Предмет Название='История искусств'
		                НеРазделятьПоДням='Нет'
		                ОднаГруппаЗаСмену='Нет'/>
	</Предметы>
	<Расстановки>
		<Расстановка>Рисунок,Рисунок,Рисунок,Композиция,Композиция</Расстановка>
		<Расстановка>Рисунок,Рисунок,Рисунок,Рисунок,Композиция</Расстановка>
		<Расстановка>Рисунок,Рисунок,Рисунок,Композиция</Расстановка>
		<Расстановка>Живопись,Живопись,Живопись,Композиция</Расстановка>
		<Расстановка>Живопись,Живопись,Живопись,Композиция,Композиция</Расстановка>
		<Расстановка>Скульптура,Скульптура,Беседы об искусстве,Беседы об искусстве</Расстановка>
		<Расстановка>Скульптура,Скульптура,История искусств,История искусств</Расстановка>
		<Расстановка>Беседы об искусстве,Беседы об искусстве,Скульптура,Скульптура</Расстановка>
		<Расстановка>История искусств,История искусств,Скульптура,Скульптура</Расстановка>
	</Расстановки>
	<Программа>
		<Класс Номер='1'>
			<Предмет Название='Рисунок'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Живопись'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Композиция'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Скульптура'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Беседы об искусстве'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
		</Класс>
		<Класс Номер='2'>
			<Предмет Название='Рисунок'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Живопись'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Композиция'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Скульптура'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='История искусств'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
		</Класс>
		<Класс Номер='3'>
			<Предмет Название='Рисунок'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Живопись'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Композиция'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Скульптура'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='История искусств'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
		</Класс>
		<Класс Номер='4'>
			<Предмет Название='Рисунок'
			                ЧасовВНеделю='4'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Живопись'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Композиция'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Скульптура'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='История искусств'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
		</Класс>
		<Класс Номер='5'>
			<Предмет Название='Рисунок'
			                ЧасовВНеделю='4'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Живопись'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Композиция'
			                ЧасовВНеделю='3'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='Скульптура'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
			<Предмет Название='История искусств'
			                ЧасовВНеделю='2'
							ДниНедели='ПнВтСрЧтПт'/>
		</Класс>
	</Программа>
	<Преподаватели>
		<Преподаватель ФИО='Первый А.Б.'>
			<ГруппыУтро>21,22</ГруппыУтро>
			<ГруппыВечер>23</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>
		<Преподаватель ФИО='Второй А.Б.'>
			<ГруппыУтро>11</ГруппыУтро>
			<ГруппыВечер>12</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>
		<Преподаватель ФИО='Третий А.Б.'>
			<ГруппыУтро>24</ГруппыУтро>
			<ГруппыВечер>25</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>
		<Преподаватель ФИО='Четвертый А.Б.'>
			<ГруппыУтро>44</ГруппыУтро>
			<ГруппыВечер>45</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>		
		<Преподаватель ФИО='Пятый А.Б.'>
			<ГруппыУтро>41</ГруппыУтро>
			<ГруппыВечер>42</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
			<Предмет Название='Скульптура' ЛюбыеГруппы='Да'/>
		</Преподаватель>
		<Преподаватель ФИО='Шестой А.Б.'>
			<ГруппыУтро>13</ГруппыУтро>
			<ГруппыВечер>14</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>
		<Преподаватель ФИО='Седьмой А.Б.'>
			<ГруппыУтро>31</ГруппыУтро>
			<ГруппыВечер>32,33</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>
		<Преподаватель ФИО='Восьмой А.Б.'>
			<ГруппыВечер>51,15</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>		
		<Преподаватель ФИО='Девятый А.Б.'>
			<ГруппыУтро>34</ГруппыУтро>
			<ГруппыВечер>35,36</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>		
		<Преподаватель ФИО='Деcятый А.Б.'>
			<ГруппыУтро>54</ГруппыУтро>
			<ГруппыВечер>55</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>				
		<Преподаватель ФИО='Одиннадцатый А.Б.'>
			<ГруппыВечер>52,53</ГруппыВечер>
			<Предмет Название='Рисунок'/>
			<Предмет Название='Живопись'/>
			<Предмет Название='Композиция'/>
		</Преподаватель>		
		<Преподаватель ФИО='Двенадцтый А.Б.'>
			<Предмет Название='Скульптура' ЛюбыеГруппы='Да'/>
		</Преподаватель>		
		<Преподаватель ФИО='Тринадцтый А.Б.'>
			<Предмет Название='Скульптура' ЛюбыеГруппы='Да'/>
		</Преподаватель>		
		<Преподаватель ФИО='Четырнадцтый А.Б.'>
		    <Предмет Название='Беседы об искусстве' ЛюбыеГруппы='Да'/>
			<Предмет Название='История искусств' ЛюбыеГруппы='Да'/>
		</Преподаватель>	
		<Преподаватель ФИО='Пятнадцтый А.Б.'>
		    <Предмет Название='Беседы об искусстве' ЛюбыеГруппы='Да'/>
			<Предмет Название='История искусств' ЛюбыеГруппы='Да'/>
		</Преподаватель>
	</Преподаватели>
</Настройки>